*{
    font-family: Arial, sans-serif;
}
.body{
    border: 1px solid black;
    height: 650px;
}
header{
    height: 150px;
    border-bottom: 1px solid black;
}
.logo_circle{
    /*display: inline-block;*/
    border: 16px solid gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: white;
    position: relative;
    top: 55px;
    left: 50px;
}
.header_text{
    position: relative;
    left: 200px;
    display: inline-block;
    color: gray;
    font-size: 60px;
    letter-spacing: 7px;
    margin-top: -36px;
}

.left_block{
    width: 20%;
    height: 35vh;
    /*border: 1px solid gray;*/
    float: left;
    padding-top: 80px;
}
ul{
    display: inline-block;
    list-style-type: none;
    text-align: right;
    margin-left: -20px;
}

a{
    color: gray;
    font-size: 22px;
    text-decoration: none;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
.central_block{
    /*border: 1px solid gray;*/
    width: 40%;
    height: 300px;
    padding-top: 60px;
    font-size: 18px;
    float: left;
}
p{
    padding: 15px 30px;
    letter-spacing: 1.5px;
}
.right_block{
    width: 35%;
    height: 50vh;
    float: right;
}
.rectangle{
    background: gray;
    height: 30px;
    border-bottom: 1px solid black;

}
div > .rectangle{
    border-left: 1px solid black;
}
.news{
    margin-bottom: 20px;
}
.h_news{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 0;
}
.p_news{
    width: 240px;
    margin-top: -16px;
    margin-left:-20px;
}
footer{
    clear: both;
    border-top: 1px solid black;
}
footer>.rectangle
{
    width: 500px;
    border-right: 1px solid black;
}
.maker{
    margin-top: -40px;
    margin-right: 360px;
    float: right;
}